.section--header{

    $header-hover-color: #fce38a;

    height: 100vh;
    max-height: 100%;
    max-height: 100vh;
    position: relative;
    color: #fff;

    a{
        color: unset;
        text-decoration: unset;
    }

    .text-slider{
        overflow: hidden;
        width: 100%;
        text-align: center;
        white-space: nowrap;

        &__item{
            display: inline-flex;
            width: 100%;
            justify-content: center;
            outline: none;
        }
    }

    .header__slider{
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        pointer-events: none;
        object-fit: cover;
        z-index: -1;

        &:after{
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background-image: linear-gradient( 0deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
        }

        .slider__item{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            user-select: none;
        }
    }

    .header__content{
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    .header__logo{
        font: 30px 'montserrat';
        font-weight: bold;
        cursor: default;
    }

    .header__top-wrap{
        display: flex;
        margin-top: 25px;
    }

    .header__menu-btn{
        cursor: pointer;
        display: none;

        .btn__stick{
            width: 35px;
            height: 4px;
            background-color: #fff;
            display: block;
            border-radius: 2px;
            margin: 8px 0;
            transition: 0.3s transform;
            transform-origin: 100% 50% 0;
        }

        &--close{
            .btn__stick{
                &--1{
                    transform: rotateZ(-45deg);
                }
                &--2{
                    transform: scaleX(0);
                }
                &--3{
                    transform: rotateZ(45deg);
                }
            }
            position: fixed;
            top: 30px;
            right: 5%;
        }
    }

    .header__nav{
        align-self: center;
        margin-left: auto;

        .nav__item{
            font: 14px 'montserrat';
            text-transform: uppercase;
            margin-left: 50px;
            position: relative;

            &:hover{
                color: $header-hover-color;

                &:after{
                    transform: scaleX(1);
                }
            }

            &:after{
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                transform: scaleX(0);
                background-color: $header-hover-color;
                right: 0;
                bottom: -10px;
                transition: 0.3s transform;
                transform-origin: center;
            }
        }
    }

    .header__text{
        &-wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            overflow: visible;
            padding-bottom: 10px;
        }

        &--primary{
            font: 80px 'montserrat';
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            line-height: 75px;
            margin: 0 0 100px 0;
            position: relative;
            z-index: 1;

            &:after{
                position: absolute;
                display: block;
                height: 3px;
                width: 60px;
                background-color: #fff;
                left: 50%;
                transform: translateX(-50%);
                bottom: -50px;
                content: "";
            }
        }

        &--secondary{
            font: 40px 'kaushan script';
            margin-bottom: 10px;
        }
    }

    .header__button{
        display: inline-block;
        text-transform: uppercase;
        border: 3px solid #fff;
        padding: 8px 32px;
        box-sizing: border-box;
        background-color: transparent;
        transition: 0.3s;
        cursor: pointer;
        animation-name: header_button;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        outline: none;
        overflow: hidden;

        &:hover{
            color: #f38181;
            background-color: #fff;
        }
    }

    .slides{
        &__wrap{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            margin-bottom: 25px;
        }

        &__item{
            width: 23%;
            cursor: pointer;
        }

        &__text{
            font: 18px 'montserrat';
            margin-top: 20px;
        }

        &__name{
            margin-right: 5px;
            font-weight: bold;
        }
    }

    .process{
        width: 100%;
        height: 3px;
        background-color: #fff;

        &__filled{
            height: 100%;
            width: 0;
            background-color: #f38181;
        }
    }
}

@keyframes header_button {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}