.section--3{
    
    $icon-blue-color: #95e1d3;
    
    padding: 90px 0px 110px 0px;

    .service{

        &__item{
            display: flex;
            flex-wrap: wrap;
            margin: 60px 0;
        }

        &__icon{
            text-align: center;
            color: $icon-blue-color;
            font-size: 34px;
        }

        &__title{
            margin: 0 0 15px;
            color: #333333;
            font: 14px $font-montserrat;
            text-transform: uppercase;
        }

        &__desc{
            margin: 0;
            font: 14px Roboto;
            color: #b3b3b3;
            text-align: justify;
        }
    }

    .separator{
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
        display: none;
    }
}


.section--4{
    padding: 90px 0px 0px 0px;
    background: url(../img/section-4-bg.png) no-repeat center;
    background-size: cover;

    .image{
        &__container{
            position: relative;
            text-align: center;
            font-size: 0;
            margin-top: 45px;
        }
        &--tablet{

        }

        &--phone{
            position: absolute;
            bottom: -100px;
            left: 60%;
        }
    }
}