.section--services{
    
    $icon-blue-color: #95e1d3;
    
    padding: 90px 0px 110px 0px;

    .service{

        &__item{
            display: flex;
            flex-wrap: wrap;
            margin: 60px 0;
        }

        &__icon{
            text-align: center;
            color: $icon-blue-color;
            font-size: 34px;
        }

        &__title{
            margin: 0 0 15px;
            color: #333333;
            font: 14px $font-montserrat;
            text-transform: uppercase;
        }

        &__desc{
            margin: 0;
            font: 14px Roboto;
            color: #b3b3b3;
            text-align: justify;
        }
    }

    .separator{
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
        display: none;
    }
}


.section--design{
    padding: 90px 0px 0px 0px;
    background: url(../img/section-4-bg.png) no-repeat center;
    background-size: cover;

    .image{
        &__container{
            position: relative;
            text-align: center;
            font-size: 0;
            margin-top: 45px;
        }
        &--tablet{

        }

        &--phone{
            position: absolute;
            bottom: -100px;
            left: 60%;
        }
    }
}

.section--wedo{
    padding: 90px 0px 110px 0px;

    .accordeon{
        margin-top: 80px;

        &__item{
            height: 380px;
            display: flex;
            flex-direction: row;
        }

        &__photos{
            height: 100%;
            overflow: hidden;

            .photos__item{
                object-fit: cover;
                pointer-events: none;
            }
        }

        &__element{
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }

            .element__header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 14px;
                height: 60px;
                border: 1px solid #e5e5e5;
                cursor: pointer;

                .element__title{
                    line-height: 60px;
                    font: 14px $font-montserrat;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #333333;
                }

                .element__icon{
                    color: #95e1d3;
                    font-size: 30px;
                    line-height: 60px;
                    vertical-align: middle;
                    margin-right: 10px;

                    &--silver{
                        line-height: 60px;
                        font-size: 10px;
                        color: #cccccc;
                        transform-origin: 50% 50%;
                        margin-right: 0;
                    }
                }
            }

            &--opened{
                .element__content{
                    display: block !important;
                }

                .element__icon{
                    &--silver{
                        transform: rotateZ(180deg);
                    }
                }
            }

            .element__content{
                padding: 20px;
                border: 1px solid #e5e5e5;
                border-top: none;
                height: 0;
                color: #a6a6a6;
                font: 15px roboto;
                font-style: italic;
                overflow-y: scroll;
                display: none;
                box-sizing: border-box;
                height: 160px;

                &::-webkit-scrollbar{
                    width: 5px;
                    transform: translateX(-5px);
                }

                &::-webkit-scrollbar-track{
                    background-color: #f5f5f5;
                    border-radius: 2px;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: #95e1d3;
                    border-radius: 2px;
                }
            }
        }
    }
}


.section--quotes{
    background-color: #f8f8f8;
    padding: 70px 0;

    .comments{
        position: relative;
        overflow: hidden;

        .slick-arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #cccccc;
            font-size: 22px;
            cursor: pointer;
            z-index: 999999;

            &:hover{
                color: #ddd;
            }

            &-next{
                right: 0;
            }

            &-prev{
                left: 0;
            }
        }

        &__item{
            display: inline-flex;
            justify-content: space-between;
            margin: 0 110px;
            outline: none;
        }

        &__icon{
            font-size: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 150px;
            width: 150px;
            flex-grow: 0;
            flex-shrink: 0;
            box-sizing: border-box;
            border: 3px solid #95e1d3;
            color: #95e1d3;
        }

        &__body{
            margin-left: 60px;
        }

        &__text{
            margin: 0;
            color: #999999;
            font: 24px roboto;
            font-style: italic;
            font-weight: 400;
            text-align: justify;
            display: block;
            quotes: "“" "”";
        }

        &__author{
            font: 24px $font-cursive;
            margin-top: 24px;
            display: inline-block;

            &:before{
                content: "";
                display: inline-block;
                height: 3px;
                width: 60px;
                background-color: #f38181;
                margin-bottom: 5px;
                margin-right: 10px;
            }
        }
    }
}