.section--openmap {
    padding: 5px;
}
.openmap {
    text-align: center;
    text-decoration: none;
    position: relative;

    &__map {
        height: 200px;
        width: 100%;
        transition: 1.5s;
        opacity: 0.1;
        overflow: hidden;
        &.opened {
            height: 400px;
            opacity: 1;
        }
        #map {
            height: 400px;
            width: 100%;
        }
    }

    &__text {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        padding-bottom: 20px;
        margin: 0;
        font-family: $font-montserrat;
        font-size: $font-medium;
        font-weight: bold;
        text-transform: uppercase;
        color: $color-blush;
        
        &:hover {
            font-size: $font-large;
            transition-duration: 0.5s;
        }
    }

    &__point {
        font-size: $font-large;
        color: $color-blush;
    }

}