.section--services{
    

    .separator{
        &--md{
            display: block;
        }
    }
}

.section--design{

    .image{
        &--tablet{
            width: 50%;
        }

        &--phone{
            transform-origin: 50% 100% 0;
            transform: scale(0.5);
            bottom: -60px;
            left: 55%;
        }
    }
}

.section--quotes{

    .comments{

        &__icon{
            font-size: 40px;
            height: 100px;
            width: 100px;
        }

        &__body{
            margin-left: 30px;
        }

        &__text{
            font-size: 16px;
        }

        &__author{
            font: 16px $font-cursive;
        }
    }
}