
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    @import "xl/_section-header";
    @import "xl/_section-first";
    @import "xl/_sections-3-6";
    @import "xl/_sections-7-11";
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    @import "lg/_section-header";
    @import "lg/_section-first";
    @import "lg/_sections-3-6";
    @import "lg/_sections-7-11";
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    @import "md/_section-header";
    @import "md/_section-first";
    @import "md/_section-second";    
    @import "md/_sections-3-6";
    @import "md/_sections-7-11";
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    @import "sm/_section-header";
    @import "sm/_section-first";
    @import "sm/_section-second";
    @import "sm/_sections-3-6";
    @import "sm/_sections-7-11";
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    @import "xs/_section-header";
    @import "xs/_section-first";
    @import "xs/_section-second";    
    @import "xs/_sections-3-6";
    @import "xs/_sections-7-11";
}