<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400" rel="stylesheet">
        <link rel="stylesheet" href="style/main.css">
        <title>Mogo template</title>
    </head>
    <body>
        {% include "_parts/_header.html" %}
        {% include "_parts/_section-first.html" %}
        {% include "_parts/_section-second.html" %} 
        {% include "_parts/_sections-3-6.html" %}
        {% include "_parts/_sections7-11.html" %}
        {% include "_parts/_sections-blog.html" %}
        {% include "_parts/_sections-openmap.html" %}
        {% include "_parts/_footer.html" %}
        

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="script/script.js"></script>
    </body>
</html>