<section class="section footer">
    <div class="container">
        <div class="row">
        <div class="footer-item col-lg-5 col-md-12">
            <h3 class="footer-title">MoGo</h3>
            <p class="footer-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p><strong class="footer-desc__strong">15k</strong> followers</p>
            <div class="footer-social">
                Follow Us: &emsp;
                <a href="#"><span class="icon-facebook"></span></a>&emsp;
                <a href="#"><span class="icon-twitter"></span></a>&emsp;
                <a href="#"><span class="icon-instagram"></span></a>&emsp;
                <a href="#"><span class="icon-pinterest"></span></a>&emsp;
                <a href="#"><span class="icon-g-plus"></span></a>&emsp;
                <a href="#"><span class="icon-youtube"></span></a>&emsp;
                <a href="#"><span class="icon-dribbble"></span></a>&emsp;
                <a href="#"><span class="icon-tumblr"></span></a>
                <span class="footer-social__height"> </span>
            </div>
            <form action="/" method="POST" name="subscribe" class="subscribe">
                <input type="email" name="email" placeholder="Your Email..." class="input"><button type="submit" class="button">Subscribe</button>
            </form>
        </div>

        <div class="footer-item col-lg-4 col-md-12">
            <h4 class="footer-title footer-title--small">Blogs</h4>
            <a href="#" title="Article 1">
                <div class="footer-item__article">
                    <img src="img/footer/blog_1.png" alt="Article 1" width="120" height="80">
                    <h5 class="footer-title footer-title--smaller">Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                    <p class="footer-item__date">Jan 9, 2016</p>
                    <div class="clear"></div>
                </div>
            </a>
            <a href="#" title="Article 1">            
                <div class="footer-item__article">
                    <img src="img/footer/blog_2.png" alt="Article 2" width="120" height="80">
                    <h5 class="footer-title footer-title--smaller">Consectetur adipiscing elit, sed do eiusmod tempor</h5>
                    <p class="footer-item__date">Jan 9, 2016</p>
                    <div class="clear"></div>
                </div>
            </a>
            <a href="#" title="Article 1">
                <div class="footer-item__article">
                    <img src="img/footer/blog_3.png" alt="Article 3" width="120" height="80">
                    <h5 class="footer-title footer-title--smaller">Sed do eiusmod tempor incididunt ut labore</h5>
                    <p class="footer-item__date">Jan 9, 2016</p>
                    <div class="clear"></div>
                </div>
            </a>
        </div>

        <div class="footer-item col-lg-3 col-md-12">
            <h4 class="footer-title footer-title--small">Instagram</h4>
            <div class="footer-item__galery">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="80" height="80">
                <img src="img/footer/insta_2.png" alt="Photo 2" width="80" height="80">
                <img src="img/footer/insta_3.png" alt="Photo 3" width="80" height="80">
                <img src="img/footer/insta_4.png" alt="Photo 4" width="80" height="80">
                <img src="img/footer/insta_5.png" alt="Photo 5" width="80" height="80">
                <img src="img/footer/insta_6.png" alt="Photo 6" width="80" height="80">
                <img src="img/footer/insta_7.png" alt="Photo 7" width="80" height="80">
                <img src="img/footer/insta_8.png" alt="Photo 8" width="80" height="80">
                <img src="img/footer/insta_9.png" alt="Photo 9" width="80" height="80">
            </div>
            <a href="#" title="More Photo"><p class="footer-item__desc">View more photos</p></a>            
        </div>
        </div>

        <div class="footer__bottom">
            &copy; 2018 MoGo PSD template by <span class="footer__team-text">MoGo Team</span>
        </div>
    </div>
</section>