<section class="section footer">
    <div class="container">
        
        <div class="footer-item">
            <h3 class="footer-title">MoGo</h4>
            <p class="footer-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <p><strong class="footer-desc__strong">15k</strong> followers</p>
            <div class="footer-social">
                Follow Us: &emsp;
                <a href="#"><span class="icon-facebook"></span></a>&ensp;
                <a href="#"><span class="icon-twitter"></span></a>&ensp;
                <a href="#"><span class="icon-instagram"></span></a>&ensp;
                <a href="#"><span class="icon-pinterest"></span></a>&ensp;
                <a href="#"><span class="icon-g-plus"></span></a>&ensp;
                <a href="#"><span class="icon-youtube"></span></a>&ensp;
                <a href="#"><span class="icon-dribbble"></span></a>&ensp;
                <a href="#"><span class="icon-tumblr"></span></a>
            </div>
            <form action="/" method="POST" name="subscribe" class="subscribe">
                <input type="email" name="email" placeholder="Your Email..." class="input">
                <button type="submit" class="button">Subscribe</button>
            </form>
        </div>

        <div class="footer-item">
            <h4 class="footer-title footer-title--small">Blogs</h4>
            <div class="footer-item__article">
                <img src="img/footer/blog_1.png" alt="Article 1" width="120" height="80">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                <p>Jan 9, 2016</p>
                <div class="clear"></div>
            </div>
            <div class="footer-item__article">
                <img src="img/footer/blog_2.png" alt="Article 2" width="120" height="80">
                <h5>Consectetur adipiscing elit, sed do eiusmod tempor</h5>
                <p>Jan 9, 2016</p>
                <div class="clear"></div>
            </div>
            <div class="footer-item__article">
                <img src="img/footer/blog_2.png" alt="Article 2" width="120" height="80">
                <h5>Sed do eiusmod tempor incididunt ut labore</h5>
                <p>Jan 9, 2016</p>
                <div class="clear"></div>
            </div>
        </div>

        <div class="footer-item">
            <h4 class="footer-title footer-title--small">Instagram</h4>
            <div class="footer-item__galery">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <div class="clear"></div>
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <div class="clear"></div>
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <img src="img/footer/insta_1.png" alt="Photo 1" width="88" height="88">
                <div class="clear"></div>
            </div>
            <p>View more photos</p>            
        </div>

        <div class="footer__bottom">
            &copy; 2016 MoGo PSD template by <span class="footer__team-text">MoGo Team</span>
        </div>

    </div>
</section>