<section class="section footer">
    <div class="container">
        <div class="row">

        <!-- Footer Info Block BEGIN -->
        <div class="footer__item col-lg-5 col-md-6">
            <h3 class="footer__title">MoGo</h3>
            <p class="footer__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p><strong class="footer__strong">15k</strong> followers</p>
            <div class="footer__social">
                Follow Us: &emsp;
                <a href="#" class="footer__icon"><span class="icon-facebook"></span></a>&emsp;
                <a href="#" class="footer__icon"><span class="icon-twitter"></span></a>&emsp;
                <a href="#" class="footer__icon"><span class="icon-instagram"></span></a>&emsp;
                <a href="#" class="footer__icon"><span class="icon-pinterest"></span></a>&emsp;
                <a href="#" class="footer__icon"><span class="icon-g-plus"></span></a>&emsp;
                <a href="#" class="footer__icon"><span class="icon-youtube"></span></a>&emsp;
                <a href="#" class="footer__icon"><span class="icon-dribbble"></span></a>&emsp;
                <a href="#" class="footer__icon"><span class="icon-tumblr"></span></a>
            </div>
            <form action="/" method="POST" name="subscribe" class="subscribe">
                <input type="email" name="email" placeholder="Your Email..." class="input"><button type="submit" class="button">Subscribe</button>
            </form>
        </div>
        <!-- Footer Info Block END -->
        
        <!-- Footer Blogs Block BEGIN -->
        <div class="footer__item col-lg-4 col-md-6 hidden-xs">
            <h4 class="footer__title footer__title--small">Blogs</h4>
            <a href="#" title="Article 1" class="footer__link">
                <div class="footer__article">
                    <img src="img/footer/blog_1.png" alt="Article 1" width="120" height="80" class="footer__img">
                    <h5 class="footer__title footer__title--smaller">Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                    <p class="footer__date">Jan 9, 2016</p>
                    <div class="clear"></div>
                </div>
            </a>
            <a href="#" title="Article 2" class="footer__link">            
                <div class="footer__article">
                    <img src="img/footer/blog_2.png" alt="Article 2" width="120" height="80" class="footer__img">
                    <h5 class="footer__title footer__title--smaller">Consectetur adipiscing elit, sed do eiusmod tempor</h5>
                    <p class="footer__date">Jan 9, 2016</p>
                    <div class="clear"></div>
                </div>
            </a>
            <a href="#" title="Article 3" class="footer__link">
                <div class="footer__article">
                    <img src="img/footer/blog_3.png" alt="Article 3" width="120" height="80" class="footer__img">
                    <h5 class="footer__title footer__title--smaller">Sed do eiusmod tempor incididunt ut labore</h5>
                    <p class="footer__date">Jan 9, 2016</p>
                    <div class="clear"></div>
                </div>
            </a>
        </div>
        <!-- Footer Blogs Block END -->   
        
        <!-- Footer Gallery Block BEGIN -->        
        <div class="footer__item col-lg-3 hidden-md">
            <h4 class="footer__title footer__title--small">Instagram</h4>
            <div class="footer__gallery">
                <img src="img/footer/insta_1.png" alt="Photo 1" class="footer__photo">
                <img src="img/footer/insta_2.png" alt="Photo 2" class="footer__photo">
                <img src="img/footer/insta_3.png" alt="Photo 3" class="footer__photo">
                <img src="img/footer/insta_4.png" alt="Photo 4" class="footer__photo">
                <img src="img/footer/insta_5.png" alt="Photo 5" class="footer__photo">
                <img src="img/footer/insta_6.png" alt="Photo 6" class="footer__photo">
                <img src="img/footer/insta_7.png" alt="Photo 7" class="footer__photo">
                <img src="img/footer/insta_8.png" alt="Photo 8" class="footer__photo">
                <img src="img/footer/insta_9.png" alt="Photo 9" class="footer__photo">
            </div>
            <a href="#" title="More Photo"><p class="footer__more">View more photos</p></a>            
        </div>
        <!-- Footer Gallery Block END -->

        </div>
        <div class="footer__bottom">
            &copy; 2018 MoGo PSD template by <span class="footer__team">MoGo Team</span>
        </div>
    </div>
</section>