<header class="section section--header">
    <div class="header__slider js-header-slider">
        <img src="img/header-slides/slide-1.png" alt="slide 1" class="slider__item">
        <img src="img/header-slides/slide-2.jpg" alt="slide 2" class="slider__item">
        <img src="img/header-slides/slide-3.jpg" alt="slide 3" class="slider__item">
        <img src="img/header-slides/slide-4.jpg" alt="slide 4" class="slider__item">
    </div>
    <div class="container header__content">
        <div class="header__top-wrap">
            <div class="header__logo">MoGo</div>
            <nav class="header__nav nav">
                <a href="#about" class="nav__item">About</a>
                <a href="#service" class="nav__item">Service</a>
                <a href="#work" class="nav__item">Work</a>
                <a href="#blog" class="nav__item">Blog</a>
                <a href="#contact" class="nav__item">Contact</a>
                <a href="#" class="nav__item"><span class="icon-cart"></span></a>
                <a href="#" class="nav__item"><span class="icon-search"></span></a>
            </nav>
            <div class="header__menu-btn">
                <span class="btn__stick btn__stick--1"></span>
                <span class="btn__stick btn__stick--2"></span>
                <span class="btn__stick btn__stick--3"></span>
            </div>
        </div>
        <div class="header__text-wrap">
            <div class="text-slider js-header-slider">
                <div class="header__text--secondary text-slider__item">Creative Template</div>
                <div class="header__text--secondary text-slider__item">Amazing Works</div>
                <div class="header__text--secondary text-slider__item">Creative Team</div>
                <div class="header__text--secondary text-slider__item">Our Contacts</div>
            </div>
            <h1 class="header__text--primary">Welcome<br>to mogo</h1>
            <a href="#learn-more" class="header__button js-anchor">Learn more</a>
        </div>
        <div class="slides__wrap">
            <div class="slides__item">
                <div class="process">
                    <div class="process__filled"></div>
                </div>
                <div class="slides__text">
                    <span class="slides__name">01</span>Intro
                </div>
            </div>
            <div class="slides__item">
                <div class="process">
                    <div class="process__filled"></div>
                </div>
                <div class="slides__text">
                    <span class="slides__name">02</span>Work
                </div>
            </div>
            <div class="slides__item">
                <div class="process">
                    <div class="process__filled"></div>
                </div>
                <div class="slides__text">
                    <span class="slides__name">03</span>About
                </div>
            </div>
            <div class="slides__item">
                <div class="process">
                    <div class="process__filled"></div>
                </div>
                <div class="slides__text">
                    <span class="slides__name">04</span>Contacts
                </div>
            </div>
        </div>
    </div>
</header>