<header class="section section--header">
    <div class="header__slider">
        <img src="img/header-slides/slide-1.png" alt="slide 1" class="slider__item">
        <img src="img/header-slides/slide-1.png" alt="slide 1" class="slider__item">
        <img src="img/header-slides/slide-1.png" alt="slide 1" class="slider__item">
    </div>
    <div class="container header__content">
        <div class="header__top-wrap">
            <div class="header__logo">MoGo</div>
        </div>
    </div>
</header>