<section class="section section--seven">
    <div class="container">
    	<h3 class="section__title">What we are</h3>
    	<h2 class="section__subtitle">Meet our team</h2>
    	<span class="section__line"></span>
		<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<p class="section__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
		</div>
		</div>
		<div class="row content-images">
		<div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section-second_1.png" alt="Member team">
					<div class="gradient-content">
						<ul class="nav our-team-icons">
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-facebook"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-twitter"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-pinterest"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<h4 class="person-name text-uppercase">Matthew Dix</h4>
			<p class="person-profession"><i>Graphic Design</i></p>
		</div>
		<div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section-second_2.png" alt="Member team">
					<div class="gradient-content">
						<ul class="nav our-team-icons">
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-facebook"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-twitter"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-pinterest"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		<h4 class="person-name text-uppercase">Christopher Campbell</h4>
		<p class="person-profession"><i>Branding/UX design</i></p>
		</div>
		<div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section-second_3.png" alt="Member team">
					<div class="gradient-content">
						<ul class="nav our-team-icons">
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-facebook"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-twitter"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-pinterest"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<h4 class="person-name text-uppercase">Michael Fertig </h4>
			<p class="person-profession"><i>Developer</i></p>
		</div>
		</div>
	</div>
</section>
<section class="section section--logos">
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-4 col-lg-2">
				<div class="logo-client logo-client--1"></div>
			</div>
			<div class="col-6 col-md-4 col-lg-2">
				<div class="logo-client logo-client--2"></div>
			</div>
			<div class="col-6 col-md-4 col-lg-2">
				<div class="logo-client logo-client--3"></div>
			</div>
			<div class="col-6 col-md-4 col-lg-2">
				<div class="logo-client logo-client--4"></div>
			</div>
			<div class="col-6 col-md-4 col-lg-2">
				<div class="logo-client logo-client--5"></div>
			</div>
			<div class="col-6 col-md-4 col-lg-2">
				<div class="logo-client logo-client--6"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section--works">
    <div class="container">
    	<h3 class="section__title">What we do</h3>
    	<h2 class="section__subtitle">Some of our work</h2>
    	<span class="section__line"></span>
		<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<p class="section__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
		</div>
		</div>
	</div>
		<div class="row no-gutters images-content">
			<div class="col-12 col-lg-6">
				<div class="row no-gutters">
					<div class="col-6 gradient-container">
						<img class="gradient-container__img" src="img/work-1.png" alt="Img-1">
						<div class="gradient-content">
							<span class="gradient-content__icon icon-picture"></span>
							<h4 class="gradient-content__title">Creatively Designed</h4>
							<div class="gradient-content__subtitle"><i>Lorem ipsum dolor sit</i></div>
						</div>
					</div>
					<div class="col-6 gradient-container">
						<img class="gradient-container__img" src="img/work-2.png" alt="Img-2">
						<div class="gradient-content">
							<span class="gradient-content__icon icon-picture"></span>
							<h4 class="gradient-content__title">Creatively Designed</h4>
							<div class="gradient-content__subtitle"><i>Lorem ipsum dolor sit</i></div>
						</div>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-6 gradient-container">
						<img class="gradient-container__img" src="img/work-3.png" alt="Img-3">
						<div class="gradient-content">
							<span class="gradient-content__icon icon-picture"></span>
							<h4 class="gradient-content__title">Creatively Designed</h4>
							<div class="gradient-content__subtitle"><i>Lorem ipsum dolor sit</i></div>
						</div>
					</div>
					<div class="col-6 gradient-container">
						<img class="gradient-container__img" src="img/work-4.png" alt="Img-4">
						<div class="gradient-content">
							<span class="gradient-content__icon icon-picture"></span>
							<h4 class="gradient-content__title">Creatively Designed</h4>
							<div class="gradient-content__subtitle"><i>Lorem ipsum dolor sit</i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="row no-gutters">
					<div class="col-6 gradient-container">
						<img class="gradient-container__img" src="img/work-5.png" alt="Img-5">
						<div class="gradient-content">
							<span class="gradient-content__icon icon-picture"></span>
							<h4 class="gradient-content__title">Creatively Designed</h4>
							<div class="gradient-content__subtitle"><i>Lorem ipsum dolor sit</i></div>
						</div>
					</div>
					
			<div class="col-6">
				<div class="row no-gutters">
					<div class="col-12 gradient-container">
						<img class="gradient-container__img" src="img/work-6.png" alt="Img-6">
						<div class="gradient-content">
							<span class="gradient-content__icon icon-picture"></span>
							<h4 class="gradient-content__title">Creatively Designed</h4>
							<div class="gradient-content__subtitle"><i>Lorem ipsum dolor sit</i></div>
						</div>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-12 gradient-container">
						<img class="gradient-container__img" src="img/work-7.png" alt="Img-7">
						<div class="gradient-content">
							<span class="gradient-content__icon icon-picture"></span>
							<h4 class="gradient-content__title">Creatively Designed</h4>
							<div class="gradient-content__subtitle"><i>Lorem ipsum dolor sit</i></div>
						</div>
					</div>
				</div>
			</div>
				</div>
			</div>
		</div>
</section>

<section class="section section--10">
    <div class="container">
        <div class="quote js-slider-section">
            <div class="quote__item">
                    <img class="quote__img" alt="quote-photo-1" src="img/slider_section10.png">
                <div class="quote__body">
                    <blockquote class="quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<br>
                    	<cite class="quote__author">Joshua Earle</cite>
                    </blockquote>
                </div>
            </div>
            <div class="quote__item">
                    <img class="quote__img" alt="quote-photo-2" src="img/slider_section10.png">
                <div class="quote__body">
                    <blockquote class="quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<br>
				<cite class="quote__author">Joshua Earle</cite>
                </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--11">
    <div class="container">
    	<h3 class="section__title">Happy Clients</h3>
    	<h2 class="section__subtitle">What people say</h2>
    	<span class="section__line"></span>
		<div class="row clients">
			<div class="col-12 col-md-6">
				<div class="clients__content">
					<img class="clients__img" src="img/section11_1.png" alt="Client">
					<div class="clients__body">
						<h3 class="clients__name">Mathew Dix</h3>
						<p class="clients__profession">Graphic Design</p>
						<span class="section__line"></span>
						<blockquote class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</blockquote>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<div class="clients__content">
					<img class="clients__img" src="img/section11_2.png" alt="Client">
					<div class="clients__body">
						<h3 class="clients__name">Nick Karvounis</h3>
						<p class="clients__profession">Graphic Design</p>
						<span class="section__line"></span>
						<blockquote class="clients__text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p></blockquote>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="clients__content">
					<img class="clients__img" src="img/section11_3.png" alt="Client">
					<div class="clients__body">
						<h3 class="clients__name">Jaelynn Castillo</h3>
						<p class="clients__profession">Graphic Design</p>
						<span class="section__line"></span>
						<blockquote class="clients__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p></blockquote>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<div class="clients__content">
					<img class="clients__img" src="img/section11_4.png" alt="Client">
					<div class="clients__body">
						<h3 class="clients__name">Mike Petrucci</h3>
						<p class="clients__profession">Graphic Design</p>
						<span class="section__line"></span>
						<blockquote class="clients__text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p></blockquote>
					</div>
				</div>
			</div>
		</div>
    </div>
</section>




