<section class="section section--second">
	<div class="stat" id="odometer">
		<div class="stat__item">
			<span class="stat__count odometer" id="odo1">0</span>
			<span class="stat__name">Web Design Projects</span>
		</div>
		<div class="stat__item">
			<span class="stat__count odometer" id="odo2">0</span>
			<span class="stat__name">Happy Client</span>
		</div>
		<div class="stat__item">
			<span class="stat__count odometer" id="odo3">0</span>
			<span class="stat__name">Award Winner</span>
		</div>
		<div class="stat__item">
			<span class="stat__count odometer" id="odo4">0</span>
			<span class="stat__name">Cup Of Coffee</span>
		</div>
		<div class="stat__item">
			<span class="stat__count odometer" id="odo5">0</span>
			<span class="stat__name">Members</span>
		</div>
	</div>
</section>