<section class="section section--first" id="learn-more">
    <div class="container">
    	<h4 class="section__title">What we do</h4>
    	<h3 class="section__subtitle">Story about us</h3>
    	<span class="section__line"></span>
		<div class="row">
		<div class="col-12 col-md-10 offset-md-1">
			<p class="section__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
		</div>
		</div>
		<div class="row content-images">
		<div class="col-md-4">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section-first_1.png" alt="Super team">
					<div class="gradient-content">
						<span class="gradient-content__icon icon-users"></span>
						<h4 class="gradient-content__title text-uppercase">Super Team</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section_first_2.png" alt="Super team">
					<div class="gradient-content">
						<span class="gradient-content__icon icon-users"></span>
						<h4 class="gradient-content__title text-uppercase">Super Team</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section_first_3.png" alt="Super team">
					<div class="gradient-content">
						<span class="gradient-content__icon icon-users"></span>
						<h4 class="gradient-content__title text-uppercase">Super Team</h4>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>