<section class="section section--blog">
    <div class="container">
        <p class="section__title">Our stories</p>
        <h3 class="section__subtitle">Latest Blog</h3>
        <span class="section__line"></span>

        <div class="blog row">
            <div class="blog__item col-lg-4 col-md-12">
                <a href="#" title="article 1">
                    <div class="blog__header blog__header--first">
                        <div class="date">
                            <div class="date__wrap">
                                <p class="date__day">15</p>
                                <p class="date__month">Jan</p>
                            </div>
                        </div>
                        <div class="blog__gradient">
                            <div class="blog__readmore">Read more</div>
                        </div>
                    </div>
                </a>
                <p class="blog__title">Lorem ipsum dolor sit amet</p>
                <p>
                    Consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna 
                    aliqua.
                </p>
                <div class="blog__footer">
                    <span class="icon-eye blog__icon"></span> 542 &nbsp;
                    <span class="icon-comment blog__icon"></span> 17
                </div>

            </div>
            
            <div class="blog__item col-lg-4 col-md-12">
                <a href="#" title="article 2">
                    <div class="blog__header blog__header--second">
                        <div class="date">
                            <div class="date__wrap">
                                <p class="date__day">14</p>
                                <p class="date__month">Jan</p>
                            </div>
                        </div>
                        <div class="blog__gradient">
                            <div class="blog__readmore">Read more</div>
                        </div>
                    </div>
                </a>
                <p class="blog__title">sed do eiusmod tempor</p>
                <p>
                     Adipiscing elit, sed do eiusmod tempor incididunt 
                     ut labore et dolore magna aliqua.
                </p>
                <div class="blog__footer">
                    <span class="icon-eye blog__icon"></span> 992 &nbsp;
                    <span class="icon-comment blog__icon"></span> 42
                </div>
            
            </div>

            <div class="blog__item col-lg-4 col-md-12">
                <a href="#" title="article 3">
                    <div class="blog__header blog__header--third">
                        <div class="date">
                            <div class="date__wrap">
                                <p class="date__day">12</p>
                                <p class="date__month">Jan</p>
                            </div>
                        </div>
                        <div class="blog__gradient">
                            <div class="blog__readmore">Read more</div>
                        </div>
                    </div>
                </a>
                <p class="blog__title">incididunt ut labore et dolore</p>
                <p>
                     Elit, sed do eiusmod tempor incididunt ut 
                     labore et dolore magna aliqua.
                </p>
                <div class="blog__footer">
                    <span class="icon-eye blog__icon"></span> 1560 &nbsp;
                    <span class="icon-comment blog__icon"></span> 98
                </div>
            
            </div>
        </div>
    </div>
</section>