<section class="section section--seven">
    <div class="container">
    	<h4 class="section__title">What we are</h4>
    	<h3 class="section__name text-uppercase">Meet our team</h3>
    	<span class="section__line"></span>
		<div class="row">
		<div class="col-12 offset-0 col-md-10 offset-md-1">
			<p class="section__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p>
		</div>
		</div>
		<div class="row content-images">
		<div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section-second_1.png" alt="Member team">
					<div class="gradient-content">
						<ul class="nav our-team-icons">
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-facebook"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-twitter"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-pinterest"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<h4 class="person-name text-uppercase">Matthew Dix</h4>
			<p class="person-pfofession"><i>Graphic Design</i></p>
		</div>
		<div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section-second_2.png" alt="Member team">
					<div class="gradient-content">
						<ul class="nav our-team-icons">
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-facebook"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-twitter"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-pinterest"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		<h4 class="person-name text-uppercase">Christopher Campbell</h4>
		<p class="person-pfofession"><i>Branding/UX design</i></p>
		</div>
		<div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-0">
			<div class="image-background">
				<div class="container-move">
					<img class="container-move__img" src="img/section-second_3.png" alt="Member team">
					<div class="gradient-content">
						<ul class="nav our-team-icons">
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-facebook"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-twitter"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-pinterest"></span></a></li>
							<li class="nav__item"><a class="nav__link" href="#"><span class="gradient-content__icon icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<h4 class="person-name text-uppercase">Michael Fertig </h4>
			<p class="person-pfofession"><i>Developer</i></p>
		</div>
		</div>
	</div>
</section>