<section class="section section--openmap">
    <div class="openmap">
        <div class="openmap__map js-map">
            <div id="map"></div>
            <div class="icon-arrow-up openmap__close js-close-map"></div>
        </div>
        <div class="openmap__cover js-click-map">
            <div class="openmap__text js-openmap-text">
                <span class="icon-point openmap__point"></span>
                <p class="openmap__title">open map</p>
                <span class="section__line"></span>
            </div>
        </div>

    </div>
</section>
