<section class="section section--second">
	<div class="container">
		<div class="stat" id="odometer">
			<div class="stat__item">
				<span class="stat__count" id="odo1">42</span>
				<span class="stat__name">Web Design Projects</span>
			</div>
			<div class="stat__item">
				<span class="stat__count" id="odo2">123</span>
				<span class="stat__name">Happy Client</span>
			</div>
			<div class="stat__item">
				<span class="stat__count" id="odo3">15</span>
				<span class="stat__name">Award Winner</span>
			</div>
			<div class="stat__item">
				<span class="stat__count" id="odo4">99</span>
				<span class="stat__name">Cup Of Coffee</span>
			</div>
			<div class="stat__item">
				<span class="stat__count" id="odo5">24</span>
				<span class="stat__name">Members</span>
			</div>
		</div>
	</div>
</section>