.section--seven{
	& .content-images{
		margin-top: 20px;
	}

	& .person-name{
		margin-top: 0px;
	}
	& .nav {
		bottom: 0;
		position: absolute;
}
	& .gradient-content {
	    align-items: flex-end;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
}

	& .container-move:hover .gradient-content, .image-background:hover .gradient-content{
		position: absolute;
	    background: linear-gradient(180deg,hsla(0,83%,73%,.9) 0,hsla(47,95%,76%,.9));
}

}

.section--works{

	& .images-content{
		margin-top: 20px;
	}

}

.section--10{
    padding-top: 20px;
    padding-bottom: 20px;

    & .quote{

        &__img{
        	display: none;
        }

		&__text{
			font-size: 16px;
			text-align: justify;
        }
		&__author{
			font-size: 16px;
        }
		&__item{
			margin-left: 10px;
			margin-right: 30px;
        }
        }
        }